---

---

<header>
  <nav>
    <a href="/" rel="prefetch">
      <img src="/logo.svg" alt="logo" width="28" height="28" />
       NekoTech Flow.
    </a>
    <ul>
      <li>
        <a href="/" rel="prefetch">Home</a>
      </li>
      <li>
        <a href="/blog" rel="prefetch">Blog</a>
      </li>
    </ul>
  </nav>
</header>
