---
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NekoTech Flow</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">
					<img src="/logo.svg" alt="logo" width="28" height="28" />
					NekoTech Flow.
				</a>
				<ul>
					<li><a href="/"></a>Home</li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<h1>NekoTech Flow.</h1>
		</main>

		<footer>
			<ul>
				<li><a href="https://twitter.com/neko3tech">Twitter</a></li>
				<li><a href="https://github.com/neko3tech">GitHub</a></li>
			</ul>
		</footer>
	</body>
</html>
