---
import Layout from "@layouts/layout.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NekoTech Flow</title>
	</head>
	<body>
		<Layout>
			<h1>NekoTech Flow.</h1>
		</Layout>
	</body>
</html>
